server:
  port: 8081
  servlet:
    context-path: /

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:h2:mem:livereconai_auth;
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

logging:
    pattern:
      level: "%5p[${spring.application.name},%X{trace_id,%{span_id}]"


management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}

app:
  jwt:
    secret: ${JWT_SECRET:livereconaiSecretKey12345678901234567890123456789012}
    expiration-ms: 3600000
    refresh-expiration-ms: 86400000
    expiration: 3600000